.nav-bar {
  color: #ff1b1b;
}

header {
  border-bottom: solid;
  border-color: #FF1B6D;

}

.bank {
  width: fit-content;
}

.bank-button {
  border: solid;
  color: black;
}

body {
  background-image: url(background.png);
  object-fit: cover;
  object-position: center;
  display: flex;
  flex-direction: column;

}

main {
  justify-content: center;
  justify-items: center;
}

.btn-one {
  background-color: violet;
  color: black;
  border: solid;
  font: bold;
  align-content: center;
}

.btn-two {
  background-color: aqua;
  color: black;
  border: solid;
  font: bold;
  font-size: large;
  align-content: center;
}